
<template>
  
  <div class="welcome-class">   
    
    <keep-alive>      
      <div class="poster">
        <div class="poster__wrapper">
        </div>
        <div class="poster__red-block">
        </div>
        <div class="poster__grey-block">
        </div>
        <div class="poster__lightblue-block">
        </div>
        <div class="poster__orange-block">
        </div>
      </div>
    </keep-alive>
    <keep-alive>
      <div class="order-block">
        <div class="order-block__label wow bounceInLeft"></div>
        <div class="order-block__input">
          <input class="order-block-input order-block-input__number" 
          type="number" 
          placeholder="Введи номер заказа или чека" 
          v-show="!isSelect"
          v-bind:class="{'order-block-input--checked': isChecked}"
          v-on:keyup.enter="scrollTo">

          <div class="order-block-input"
          style="cursor: pointer"
          v-bind:class="{'order-block-input_focus': isOptions, 'order-block-input--checked': isChecked}"
          v-show="isSelect" 
          v-on:click="isOptions = !isOptions">
            <span>{{ currentOption }}</span>
            <div v-bind:class="{'order-block-input__arrow_down': isOptions}"></div>

            <div class="order-block-input__select" 
            v-show="isOptions">
              <span class="order-block-input__span" v-on:click="getCurrentOption">Чек потерян</span>
              <span class="order-block-input__span" v-on:click="getCurrentOption">Не взял на кассе</span>
              <span class="order-block-input__span" v-on:click="getCurrentOption">Заказал сделан в интернет-магазине</span>
              <span class="order-block-input__span" v-on:click="getCurrentOption">Другое</span>
            </div>
            
          </div>

          <a class="order-block-input__link" 
          v-on:click="isSelect = !isSelect">{{ isSelect ? 'У меня есть чек' : 'У меня нет чека' }}</a>
          
        </div>
      </div>
     
    </keep-alive>
    <keep-alive>
      <div class="promotion" id="promotion">
        <div class="promotion__label wow bounceInRight"></div>
        <div class="promotion__items">
          <div class="col-6 promotion__item">
            <img src="../img/promotion/interneturok.png" class="promotion__items__img promotion__items__img_interneturok" alt="interneturok">
            <a href="https://interneturok.ru/disney?utm_source=disney&utm_medium=partner&utm_campaign=back2school" class="promotion__button">
              <img src="../img/promotion/cloud.png" class="promotion__items__cloud promotion__items__cloud_inactive" alt="cloud">
              <img src="../img/promotion/cloud-active.png" class="promotion__items__cloud promotion__items__cloud_active" alt="cloud">
            </a>
          </div>     
          <div class="col-6 promotion__item">
            <img src="../img/promotion/whisper.png" class="promotion__items__img">
            <a href="http://school.whisperarts.com" class="promotion__button">
              <img src="../img/promotion/cloud.png" class="promotion__items__cloud promotion__items__cloud_inactive" alt="cloud">
              <img src="../img/promotion/cloud-active.png" class="promotion__items__cloud promotion__items__cloud_active" alt="cloud">
            </a>
          </div>
          <div class="col-6 promotion__item">
            <img src="../img/promotion/skyeng.png" class="promotion__items__img">  
            <a href="https://school.skyeng.ru/back-to-school" class="promotion__button">
              <img src="../img/promotion/cloud.png" class="promotion__items__cloud promotion__items__cloud_inactive" alt="cloud">
              <img src="../img/promotion/cloud-active.png" class="promotion__items__cloud promotion__items__cloud_active" alt="cloud">
            </a>  
          </div>   
          <div class="col-6 promotion__item">
            <img src="../img/promotion/profykids.png" class="promotion__items__img">   
            <a href="http://profykids.ru/back-to-school/" class="promotion__button">
              <img src="../img/promotion/cloud.png" class="promotion__items__cloud promotion__items__cloud_inactive" alt="cloud">
              <img src="../img/promotion/cloud-active.png" class="promotion__items__cloud promotion__items__cloud_active" alt="cloud">
            </a> 
          </div>   
        </div>     
      </div>
     
    </keep-alive>
    <keep-alive>
      <div class="contest">
        <div class="contest__label wow bounceInDown"></div>
        
        <div class="contest__items">

          <div class="contest_left col-5">
            <div class="contest_skyeng">
              <img src="../img/contest/skyeng-label.png" alt="" class="contest__title contest__title_skyeng">
              <img src="../img/skyeng.png" alt="skyeng" class="contest__img contest__img_skyeng">

              <div class="contest__text-container">
                <ul class="contest__list">
                  <li class="contest__list__item">
                    • Доступ к урокам для самостоятельного изучения на год
                  </li>
                  <li class="contest__list__item">
                    • 4 индивидуальных урока с преподавателем
                  </li>
                  <li class="contest__list__item">
                    • годовая подписка на skyeng.tv
                  </li>              
                </ul>
                <p class="contest__p">
                  Приходи с любимыми персонажами старательно! Попади в TOP-100 участников с максимальным средним баллом за уроки
                </p>
              </div>

              <a class="contest__button" href="https://school.skyeng.ru/back-to-school">Участвовать</a>
            </div>
          </div>

          <div class="contest_right col-7">
            <div class="contest_whisper">
              <img src="../img/contest/whisper-label.png" alt="" class="contest__title contest__title_whisper">
              <img src="../img/whisper.png" alt="skyeng" class="contest__img">

              <div class="contest__text-container contest__text-container_whisper">
                <ul class="contest__list">
                  <li class="contest__list__item">
                    • Сборник интерактивных журналов с любимыми персонажами
                  </li>
                  <li class="contest__list__item">
                    • Промокод на приложение Kid's Shell для Android устройств
                  </li>
                  <p class="contest__p">
                    Как выиграть: получает каждый участник
                  </p>
                </ul>
              </div>

              <a class="contest__button" href="http://school.whisperarts.com">Участвовать</a>
            </div>
            <div class="contest_profykids">
              <img src="../img/contest/profykids-label.png" alt="" class="contest__title contest__title_profykids">
              <img src="../img/profykids.png" alt="skyeng" class="contest__img">

              <div class="contest__text-container contest__text-container_profykids">
                <ul class="contest__list">
                  <li class="contest__list__item">
                    • 3 индивидуальных урока с преподавателем по созданию анимации, ты научишься создавать анимационные фильмы!
                  </li>           
                </ul>
                <p class="contest__p">
                  Внимательно слушай урок и проходи тест по усвоенному материалу! Попади в TOP-100 участников с максимальным баллом за тест
                </p>
              </div>

              <a class="contest__button" href="http://profykids.ru/back-to-school/">Участвовать</a>
            </div>
          </div>
        </div>

        <div class="contest_interneturok">
          <img src="../img/contest/interneturok-label.png" alt="" class="contest__title contest__title_interneturok">
          <img src="../img/interneturok.png" alt="" class="contest__img">

          <div class="contest__text-container contest__text-container_interneturok">
            <ul class="contest__list">
              <li class="contest__list__item">
                • 2 месяца обучения с преподавателем в онлайн-школе
              </li>           
            </ul>
            <p class="contest__p">
               Проходи тесты после уроков старательно! Попади в TOP-100 участников, набрав как можно больше результатов "хорошо" и "отлично"
            </p>
          </div>

          <a class="contest__button" href="https://interneturok.ru/disney?utm_source=disney&utm_medium=partner&utm_campaign=back2school  ">Участвовать</a>
        </div>

        <a class="contest__link" href="#">
          Полные правила акции
        </a>
      </div>
      
      
    </keep-alive>
    <keep-alive>
      <div class="partners">
        <div class="partners__item partners__item--goods">
          <div class="partners-item__label wow bounceInUp">
          </div>
          <div class="partners-item__list">            
            <ul>
              <li>
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Одежда, обувь
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/adidas.jpg" class="partners__img"></a>
                    <a href=#><img src="../img/partners/brazis.jpg" class="partners__img"></a>
                    <a href=#><img src="../img/partners/Elisir.png" class="partners__img"></a>
                    <a href=#>Мегаполис</a>
                    <a href=#><img src="../img/partners/tvoe.jpg" class="partners__img"></a>
                    <a href=#>Сабор</a>
                    <a href=#><img src="../img/partners/TVMANIA.png" class="partners__img"></a>
                    <a href=#>Оптимус</a>
                    <a href=#><img src="../img/partners/playtoday.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/Leomil.png" class="partners__img"></a>
                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Носочно-чулочные изделия
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/conte-kids.jpg" class="partners__img"></a>
                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Вода
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/svyatistoch.png" class="partners__img"></a>

                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Головоломки, раскраски
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/ast.png" class="partners__img"></a>
                  
                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Книги, журналы
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/eksmo.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/ast.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/Egmont-logo.png" class="partners__img"></a>
                    
                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Канцелярия и товары для школы
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/erich-krause.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/detskiymir.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/baltik.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/centrum.jpg" class="partners__img"></a>
                    <a href=#><img src="../img/partners/stamm.jpg" class="partners__img"></a>

                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Контейнеры для хранения
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/IDEA.jpg" class="partners__img"></a>
                  </div>
                </label>
              </li>
              <li>              
                <label>
                  <input type="checkbox">
                  <div class="partners-item-list__header">
                    Парты и стулья
                  </div>
                  <div class="partners-item-list__sublist">
                    <a href=#><img src="../img/partners/demi.png" class="partners__img"></a>
                    <a href=#><img src="../img/partners/nikakids.png" class="partners__img"></a>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="partners__item partners__item--companies">
          <div class="partners-item__label wow bounceInUp">
          </div>
          <div class="partners-item__links">            
            <a href=#><img src="/img/partners/auchan.png" class="partners-item__img"> </a> 
            <a href=#><img src="/img/partners/lenta.png" class="partners-item__img"> </a>
            <a href=#><img src="/img/partners/Ozon.png" class="partners-item__img"> </a>
            <a href=#><img src="/img/partners/yandex_market.png" class="partners-item__img"> </a>          
          </div>       
        </div>
      </div>
    </keep-alive>
    
    
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentOption: 'Выбери причину отсутствия чека',
      isChecked: false,
      isSelect: false,
      isOptions: false,
      isOptionChecked: false
    };
  },
  mounted: function() {
    this.created();
  },
  methods: {
    getCurrentOption(event) {
      this.currentOption = event.target.innerText;
      this.scrollTo();
    },
    scrollTo() {
      let promotion = document.getElementById('promotion');
      promotion.scrollIntoView({ behavior: 'smooth', block: 'start' });
      this.isChecked = true;
      this.isOptionChecked = true;
    },
    created() {
      let chrome = document.createElement('script');
      chrome.setAttribute('src', 'https://disney.ru/goc/responsive.js');
      let footer = document.createElement('script');
      footer.setAttribute('src', 'https://disney.ru/goc/footer.js?code=bts');
      document.head.appendChild(chrome);
      document.head.appendChild(footer);
    }
  }
};
</script>

<style lang="scss">
.poster {
  position: relative;
  display: flex;
  height: 578px;
  &__wrapper {
    width: 1300px;
    margin: 0 auto;
    background: url(../img/background.jpg) center no-repeat;
    background-size: cover;
  }
  &__red-block {
    position: absolute;
    top: 0;
    background-color: #e92127;
    height: 232px;
    width: 50%;
    z-index: -2;
  }
  &__grey-block {
    position: absolute;
    height: 346px;
    width: 50%;
    z-index: -2;
    top: 232px;
    background-color: #859b98;
  }
  &__lightblue-block {
    z-index: -2;
    position: absolute;
    right: 0;
    height: 357px;
    width: 50%;
    background-color: #69c1ea;
  }
  &__orange-block {
    z-index: -2;
    position: absolute;
    right: 0;
    height: 221px;
    width: 50%;
    top: 357px;
    background-color: #ee5f25;
  }
  &__item {
    z-index: -2;
    opacity: 0.5;
    flex-basis: 100%;
  }
}

.order-block {
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__label {
    background: url(../img/order-label.png) center no-repeat;
    background-size: 35%;
    min-height: 250px;
  }
  &__input {
    text-align: center;
    .order-block-input {
      position: relative;
      box-sizing: border-box;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border: none;
      border-bottom: 3px solid #cccccc;
      text-align: center;
      color: #858585;
      font-size: 20px;
      -moz-appearance: textfield;
      &:focus {
        color: #000000;
        border-bottom: 3px solid #000000;
        outline: none;
      }
      &--checked {
        background-image: url(../img/icon-checked.png);
        background-repeat: no-repeat;
        background-position: 95% 35%;
      }
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-inner-spin-button {
        -moz-appearance: textfield;
      }
      &_focus {
        color: #000000;
        border-bottom: 3px solid #000000;
        outline: none;
      }
      &__select {
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 37px;
      }
      &__span {
        display: block;
        padding: 1rem;
        background: #f0f0f0;
        border-bottom: 3px solid #cccccc;
        transition: 0.2s;
        &:hover {
          background: #b8b8b8;
        }
      }
      &__arrow_up {
        position: absolute;
        right: 1rem;
        top: 50%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #000;
      }
      &__arrow_down {
        position: absolute;
        right: 1rem;
        top: 50%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
      }
      &__link {
        display: block;
        box-sizing: border-box;
        width: 210px;
        margin: 0 auto;
        padding: 0 0 10px 0;
        color: #858585;
        text-decoration: none;
        border-bottom: 2px dashed #dedede;
        font-size: 20px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          border-bottom: 2px dashed #309ed6;
        }
      }
    }
  }
}

.promotion {
  max-width: 1330px;
  margin: 0 auto;
  margin-top: 1.5rem;
  &__label {
    background-image: url(../img/promotion-label.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 250px;
    margin-bottom: 5px;
  }
  &__button {
    &:hover .promotion__items__cloud_inactive {
      opacity: 0;
    }
    &:hover .promotion__items__cloud_active {
      opacity: 1;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
  }
  &__items__img {
    display: block;
    width: 450px;
    max-width: 100%;
    max-height: 450px;
    margin: 0 auto;
    margin-bottom: 2rem;
    &_interneturok {
      padding-left: 2rem;
    }
  }
  &__items__cloud {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
  }
  &__items__cloud_active {
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.contest {
  max-width: 1333px;
  margin: 0 auto;
  &__label {
    background: url(../img/contest-label.png) center no-repeat;
    background-size: 65%;
    min-height: 260px;
    margin-bottom: 5px;
  }
  &__img {
    width: 100%;
    height: 100%;
    max-height: 385px;
    &_skyeng {
      max-height: 800px;
    }
  }
  &__items {
    display: flex;
  }
  &_skyeng,
  &_profykids,
  &_whisper,
  &_interneturok {
    position: relative;
    margin: 1rem;
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    &_interneturok {
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
    }
  }
  &_whisper {
    margin-bottom: 1.9rem;
  }
  &_interneturok {
    margin-top: 1rem;
  }
  &__text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    color: #fff;
    &_whisper {
      top: 65%;
      transform: translate(-50%, -65%);
    }
    &_profykids {
      top: 65%;
      transform: translate(-50%, -65%);
    }
    &_interneturok {
      left: 95%;
      transform: translate(-95%, -50%);
      width: 40%;
      text-align: center;
    }
  }
  &__list {
    padding: 0;
  }
  &__list__item {
    list-style: none;
  }
  &__p {
    font-weight: 800;
  }
  &__button {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -2%);
    width: 240px;
    height: 50px;
    font-size: 17px;
    color: white;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background: #ffb61c;
    }
  }
  &__link {
    display: block;
    box-sizing: border-box;
    align-self: flex-start;
    width: 250px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1px;
    text-decoration: none;
    color: #656565;
    border-bottom: 1px solid #656565;
    transition: 0.2s;
    &:hover {
      color: #309ed6;
      border-bottom: 1px solid #309ed6;
    }
  }
}

.partners {
  display: flex;
  max-width: 1333px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 50px;

  &__item {
    width: 640px;
    min-height: 640px;
    &--goods {
      .partners-item {
        &__label {
          margin: 0 auto;
          width: 384px;
          height: 115px;
          margin-bottom: 45px;
          background-image: url(../img/partners-label-1.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        &__list {
          background-color: #f4f4f4;
          padding: 45px 0px;
          box-sizing: border-box;
        }
      }
    }
    &--companies {
      .partners-item {
        &__label {
          margin: 0 auto;
          width: 419px;
          height: 115px;
          background-image: url(../img/partners-label-2.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          margin-bottom: 45px;
        }
        &__list {
          display: flex;
          flex-direction: column;
          background-color: #f4f4f4;
        }
      }

      .partners-item {
        &__links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 70px 0;
          background: #f4f4f4;
          height: 500px;

          .partners-item__img {
            max-width: 300px;
            max-height: 90px;
            filter: grayscale(100%);
            transition: 0.3s;
            &:hover {
              filter: none;
            }
          }
        }
      }
    }
  }
}

.partners-item__list {
  ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      label {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        width: 100%;
      }
      .index {
        margin-right: 15px;
        display: block;
        width: 24px;
        min-width: 24px;
      }
    }
  }
  .partners-item-list__sublist {
    width: 100%;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    overflow: hidden;
    max-height: 0;
    transition: 0.2s;
    background-color: white;
    border-left: 4px solid #6bc3e9;
    padding-left: 40px;
    box-sizing: border-box;
    a {
      width: 50%;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.5em;
      vertical-align: middle;
      text-decoration: none;
      font-weight: 300;
      color: black;
      line-height: 3em;
    }
  }
  .partners__img {
    display: block;
    max-height: 100px;
    max-width: 200px;
    margin-bottom: 2rem;
    // margin-left: auto;
    // margin-right: auto;
  }
  label {
    input {
      display: none;
      & + .partners-item-list__header {
        background-image: url(../img/array-down.png);
        background-repeat: no-repeat;
        background-position: 45px 50%;
        padding: 25px;
        padding-left: 75px;
        box-sizing: border-box;
        font-size: 20px;
        width: 100%;
      }
    }
    input:checked {
      & + .partners-item-list__header {
        box-sizing: border-box;
        background-image: url(../img/array-up.png);
        background-repeat: no-repeat;
        background-color: white;
        background-position: 41px 50%;
        border-left: 4px solid #6bc3e9;
        width: 100%;
        padding-left: 71px;
      }
      & + .partners-item-list__header + .partners-item-list__sublist {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-height: 1500px;
        padding-left: 40px;
      }
    }
  }
}

/* Media */
@media (max-width: 1500px) {
  .order-block {
    &__label {
      background-size: 45%;
    }
  }
}

@media (max-width: 1200px) {
  .order-block {
    &__label {
      background-size: 55%;
    }
  }

  .contest {
    &__title {
      &_whisper {
        width: 40%;
      }
    }
  }
}

@media (max-width: 960px) {
  .order-block {
    &__label {
      background-size: 65%;
    }
  }

  .contest {
    &__title {
      &_interneturok {
        width: 50%;
      }
      &_whisper {
        width: 50%;
      }
      &_skyeng {
        width: 70%;
      }
      &_profykids {
        width: 50%;
      }
    }
    &__img {
      max-height: 450px;
    }
    &__img_skyeng {
      max-height: 930px;
    }
  }
}

@media (max-width: 768px) {
  .order-block {
    &__label {
      background-size: 75%;
    }
    &__input {
      .order-block-input {
        width: 90%;
      }
    }
  }

  .promotion-items-item {
    &__button {
      margin-bottom: 3rem;
    }
  }

  .promotion__items__cloud {
    top: 65%;
    z-index: 999;
  }

  .contest {
    &__label {
      background: url('../img/contest/h.png') center no-repeat;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__title {
      &_interneturok {
        left: 50%;
        top: 5%;
        transform: translate(-50%, -5%);
        width: 60%;
      }
      &_skyeng {
        width: 40%;
      }
      &_whisper {
        width: 40%;
      }
      &_profykids {
        width: 40%;
      }
    }
    &__text-container {
      &_interneturok {
        left: 50%;
        top: 55%;
        transform: translate(-50%, -55%);
        width: 85%;
      }
    }
    &_skyeng {
      max-height: 485px;
    }
  }

  .partners {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    &__item {
      width: 100vw;
    }
    &__item--goods {
      margin-bottom: 3rem;
    }
  }

  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .order-block {
    &__label {
      background-size: 85%;
    }
  }

  .contest__text-container {
    font-size: 1.2rem;
  }

  .promotion__label {
    background-size: 80%;
  }

  .promotion__items__cloud {
    top: 70%;
  }

  .contest__label {
    background-size: 75%;
  }

  .partners-item__label {
    background-size: 80%;
  }
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
